# Neon Postgres
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://user:password@host/dbname?sslmode=require"

# Vercel Blob
BLOB_READ_WRITE_TOKEN=""

# Auth
JWT_SECRET=""

# Safaricom Daraja API
MPESA_CONSUMER_KEY=""
MPESA_CONSUMER_SECRET=""
MPESA_SHORTCODE=""
MPESA_PASSKEY=""
MPESA_CALLBACK_URL="https://darasalive.co.ke/api/mpesa/callback"
MPESA_ENV="sandbox" # sandbox | production
